@model IEnumerable<ProyectoSC_601.Entities.ProveedorEnt>

@{
    ViewBag.Title = "ConsultaProveedores";
    ViewBag.Mensaje = TempData["Mensaje"];
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
    <link href="~/Assets/css/perfilClienteStyle.css" rel="stylesheet">
    <link href="~/Assets/css/ConsultaProveedor.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

}

@{
    var empresas = ViewBag.combo as List<SelectListItem>;
}

<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    @if (TempData["RegistroExito"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["RegistroExito"]
                        </div>
                    }

                    @if (TempData["ActualizacionExito"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["ActualizacionExito"]
                        </div>
                    }
                    <h4 class="card-title">
                        Información de Proveedores
                    </h4>
                    <br />
                    <div class="table-responsive">
                        @if (Model.Count() > 0)
                        {

                            <table id="TablaProveedores" class="table table-bordered table-hover">
                                <thead class="table-info">
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">ID</th>
                                        <th style="background-color: #6282a9; color:white;">Nombre</th>
                                        <th style="background-color: #6282a9; color:white;">Tipo</th>
                                        <th style="background-color: #6282a9; color:white;">Cédula</th>
                                        <th style="background-color: #6282a9; color:white;">Dirección</th>
                                        <th style="background-color: #6282a9; color:white;">Empresa</th>
                                        <th style="background-color: #6282a9; color:white;">Teléfono</th>
                                        <th style="background-color: #6282a9; color:white;">Correo</th>
                                        <th style="background-color: #6282a9; color:white;">Estado</th>
                                        <th style="background-color: #6282a9; color:white;">Opciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ID_Proveedor</td>
                                            <td>@($"{item.Nombre_Proveedor} {item.Apellido_Proveedor}")</td>
                                            <td>@item.Nombre_Identificacion</td>
                                            <td>@item.Cedula_Proveedor</td>
                                            <td>@item.Direccion_Exacta</td>
                                            <!--Obtener el nombre en vez del ID-->
                                            @{
                                                var idEmpresa = item.Empresa;
                                                var nombreEmpresa = empresas.FirstOrDefault(e => e.Value == idEmpresa.ToString())?.Text;
                                            }
                                            <td>@nombreEmpresa</td>
                                            <td>@item.Telefono</td>
                                            <td>@item.Correo</td>

                                            @if (item.Estado_Proveedor == 1)
                                            {
                                                <td style="text-align:center;"><span class="badge bg-success">Activo</span></td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center;"><span class="badge bg-danger">Inactivo</span></td>
                                            }
                                            <td class="text-center">
                                                <a href="@Url.Action("ActualizarEstadoProveedor", "Proveedor", new { q = item.ID_Proveedor })" title="Cambiar Estado">
                                                    <i class="fa fa-exchange fa-lg text-primary"></i>
                                                </a>
                                                <a href="@Url.Action("ActualizarProveedor", "Proveedor", new { q = item.ID_Proveedor })" title="Modificar Proveedor">
                                                    <i class="fa fa-user fa-lg text-success" style="padding-left: 10px;"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="confirmarEliminarProveedor(@item.ID_Proveedor)" title="Eliminar Proveedor"><i style="color: darkred; padding-left: 8px;" class="fa fa-trash fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                                No hay proveedores registrados en este momento
                            </div>
                        }
                        <br>
                        <div class="text-center mt-4">
                            <a href="@Url.Action("RegistrarProveedor", "Proveedor")" class="btn btn-success">
                                <i class="fa fa-plus"></i> Agregar proveedor
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>var $j = jQuery.noConflict();</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>



<script>
    //Datatable de los proveedores
    $j(document).ready(function () {
        var table = $j('#TablaProveedores').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple',
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6,7,8]
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ]
        });

        // Ajustar los botones de exportación
        table.buttons().container().prependTo('#TablaProveedores_wrapper .dataTables_filter');
    });
</script>




<script>
    //Funcion para mostrar mensaje de alerta
    function confirmarEliminarProveedor(ID_Proveedor) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'El proveedor se eliminará permanentemente',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#6282a9',
            cancelButtonColor: '#354461',
            confirmButtonText: 'Sí, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, redirige a la acción de inactivar proveedores
                window.location.href = '/Proveedor/EliminarProveedor?q=' + ID_Proveedor;
            }
        });
    }
</script>
