
@model IEnumerable<ProyectoSC_601.Entities.ProveedorEnt>

@{
    ViewBag.Title = "ConsultaProveedores";
    ViewBag.Mensaje = TempData["Mensaje"];
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
    <link href="~/Assets/css/perfilClienteStyle.css" rel="stylesheet">
    <link href="~/Assets/css/ConsultaProveedor.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
}


<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    @if (TempData["RegistroExito"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["RegistroExito"]
                        </div>
                    }

                    @if (TempData["ActualizacionExito"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["ActualizacionExito"]
                        </div>
                    }
                    <h4 class="card-title">Información de Proveedores</h4>

                    @if (Model.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table id="TablaProveedores" class="table table-bordered table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Nombre</th>
                                        <th style="background-color: #6282a9; color:white;">Apellido</th>
                                        <th style="background-color: #6282a9; color:white;">Cédula</th>
                                        <th style="background-color: #6282a9; color:white;">Dirección</th>
                                        <th style="background-color: #6282a9; color:white;">Empresa</th>
                                        <th style="background-color: #6282a9; color:white;">Estado</th>
                                        <th style="background-color: #6282a9; color:white;">Opciones</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre_Proveedor</td>
                                            <td>@item.Apellido_Proveedor</td>
                                            <td>@item.Cedula_Proveedor</td>
                                            <td>@item.Direccion_Exacta</td>
                                            <td>
                                                @if (item.Empresa == 1)
                                                {
                                                    <span class="badge bg-secondary">Seleccione una empresa</span>
                                                }
                                                else if (item.Empresa == 2)
                                                {
                                                    <span class="badge bg-info">Empresa 1</span>
                                                }
                                                else if (item.Empresa == 3)
                                                {
                                                    <span class="badge bg-warning">Empresa 2</span>
                                                }
                                            </td>

                                            @if (item.Estado_Proveedor == 1)
                                            {
                                                <td><span class="badge bg-success">Activo</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge bg-danger">Inactivo</span></td>
                                            }
                                        <td class="text-center">
                                            <a href="@Url.Action("ActualizarEstadoProveedor", "Proveedor", new { q = item.ID_Proveedor })">
                                                <i class="fa fa-exchange fa-lg text-primary"></i>
                                            </a>
                                            <a href="@Url.Action("ActualizarProveedor", "Proveedor", new { q = item.ID_Proveedor })">
                                                <i class="fa fa-user fa-lg text-success" style="padding-left: 10px;"></i>
                                            </a>
                                            <a href="javascript:void(0);" onclick="confirmarEliminarProveedor(@item.ID_Proveedor)"><i style="color: darkred; padding-left: 8px;" class="fa fa-trash fa-lg"></i></a>
                                        </td>

                                         
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                            No hay proveedores registrados en este momento
                        </div>
                    }
                    <br>
                    <div class="text-center mt-4">
                        <a href="@Url.Action("RegistrarProveedor", "Proveedor")" class="btn btn-success">
                            <i class="fa fa-plus"></i> Agregar proveedor
                        </a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#TablaProveedores').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple'
        });
    });
</script>


<script>
    //Funcion para mostrar mensaje de alerta
    function confirmarEliminarProveedor(ID_Proveedor) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'El proveedor se eliminará permanentemente',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#6282a9',
            cancelButtonColor: '#354461',
            confirmButtonText: 'Sí, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, redirige a la acción de inactivar cliente
                window.location.href = '/Proveedor/EliminarProveedor?q=' + ID_Proveedor;
            }
        });
    }
</script>

