@model ProyectoSC_601.Entities.UsuarioEnt
@{
    ViewBag.Title = "RegistroUsuario";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    <link href="~/Assets/css/registroStyle.css" rel="stylesheet">
}

<style>
    input[type="password"].disabled {
        background-color: #BCBCBC !important;
    }

    input[type="password"].enabled {
        background-color: #EEEEEE !important;
    }

    #loadingOverlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(200, 200, 200, 0.7);
        z-index: 9999;
    }

        #loadingOverlay > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
</style>
<div class="" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->
    <div id="loadingOverlay">
        <div>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <section class="login-content vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card blur-background">
                            <div class="card-body">
                                @if (ViewBag.MensajeExitoso != null)
                                {
                                    <div class="alert alert-success" role="alert" style="text-align: center; margin: 10px 10px -30px 10px;">
                                        @ViewBag.MensajeExitoso
                                    </div>
                                }

                                @if (ViewBag.MensajeNoExitoso != null)
                                {
                                    <div class="alert alert-danger" role="alert" style="text-align: center; margin: 10px 10px -30px 10px;">
                                        @ViewBag.MensajeNoExitoso
                                    </div>
                                }
                                <h2 class="mb-2 text-center">Crear Cuenta</h2>
                                <p class="text-center">¡Bienvenido a nuestra familia!</p>

                                <div style="max-height: 400px; overflow-y: auto;">
                                    <!-- Contenedor con scroll interno -->
                                    @using (Html.BeginForm("RegistroUsuario", "Usuario", FormMethod.Post, new { @class = "pt-3", @novalidate = "novalidate" }))
                                    {
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="medium" for="tipo">Tipo de Identificación</label>
                                                    @Html.DropDownListFor(m => m.ID_Identificacion, (ViewBag.Identificaciones as IEnumerable<SelectListItem>) ?? Enumerable.Empty<SelectListItem>(), "Seleccione una opción", new { @style = "background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 100%;" })
                                                    @Html.ValidationMessageFor(m => m.ID_Identificacion, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="medium" for="id">Identificación</label>
                                                    @Html.TextBoxFor(m => m.Identificacion_Usuario, new { @placeholder = "XXXXXXXXX", @type = "text" })
                                                    @Html.ValidationMessageFor(m => m.Identificacion_Usuario, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="medium" for="nombre">Nombre</label>
                                                    @Html.TextBoxFor(m => m.Nombre_Usuario, new { @placeholder = "Nombre", @type = "text" })
                                                    @Html.ValidationMessageFor(m => m.Nombre_Usuario, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="medium" for="apellido">Apellido</label>
                                                    @Html.TextBoxFor(m => m.Apellido_Usuario, new { @placeholder = "Apellido", @type = "text" })
                                                    @Html.ValidationMessageFor(m => m.Apellido_Usuario, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="medium" for="correo">Correo Electrónico</label>
                                                    @Html.TextBoxFor(m => m.Correo_Usuario, new { @placeholder = "usuario@ejemplo.com", @type = "email" })
                                                    @Html.ValidationMessageFor(m => m.Correo_Usuario, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-12">


                                                <div class="form-group position-relative">
                                                    <label class="medium" for="clave">Contraseña</label>
                                                    @Html.PasswordFor(m => m.Contrasenna_Usuario, new { @placeholder = "● ● ● ● ● ● ● ● ● ● ●", @type = "password" })
                                                    <i class="bi bi-eye-slash toggle-password" style="cursor: pointer; position: absolute; right: 15px; top: 70%; transform: translateY(-50%); font-size: 1.5em;"></i>
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Contrasenna_Usuario, "", new { @style = "color: red;" })

                                            </div>
                                            <div class="d-flex justify-content-center" style="margin-top:2%;">
                                                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                                            </div>

                                            <div class="d-flex justify-content-center">

                                                <a href='@Url.Action("Login", "Usuario")' style="margin-top: 8%;">Ya tienes cuenta, ¡Inicia Sesión!</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/Assets/js/Cliente.js"></script>

<script>
    $(document).ready(function () {
        // Función para habilitar o deshabilitar los campos según la opción seleccionada
        function toggleFields(selectedValue) {
            // Deshabilitar todos los campos
            $('input[type="text"]').prop('disabled', true).addClass('disabled');
            $('input[type="email"]').prop('disabled', true).addClass('disabled');
            $('input[type="password"][name="Contrasenna_Usuario"]').prop('disabled', true).addClass('disabled');

            // Habilitar campos según la selección
            if (selectedValue !== '') {
                $('input[type="text"]').prop('disabled', false).removeClass('disabled');
                $('input[type="email"]').prop('disabled', false).removeClass('disabled');
                $('input[type="password"][name="Contrasenna_Usuario"]').prop('disabled', false).removeClass('disabled');

                // Verificar si la opción seleccionada es 2 y deshabilitar el campo de apellido
                if (selectedValue === '2') {
                    $('input[type="text"][name="Apellido_Usuario"]').prop('disabled', true).addClass('disabled');
                }
            }
        }

        // Obtener la opción seleccionada al cargar la página
        var selectedValue = $('#ID_Identificacion').val();

        // Habilitar o deshabilitar campos según la selección actual
        toggleFields(selectedValue);

        // Manejar el evento change del DropDownList
        $('#ID_Identificacion').change(function () {
            var selectedValue = $(this).val();
            toggleFields(selectedValue);
        });

        // Manejar el evento submit del formulario
        $('form').submit(function (e) {
            var selectedValue = $('#ID_Identificacion').val();

            // Verificar que se ha seleccionado una opción válida
            if (selectedValue === '' || selectedValue === null) {
                // Si se selecciona la opción predeterminada, deshabilitar todos los campos
                toggleFields(selectedValue);
            }
        });
        $('form').submit(function (event) {
            event.preventDefault();
            var submitButton = $(this).find('button[type="submit"]');
            submitButton.prop('disabled', true);
            $('#loadingOverlay').show();
            this.submit();
        });
        $('#loadingOverlay').hide();
        $('button[type="submit"]').prop('disabled', false);
    });


</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("click", function (event) {
            if (event.target.classList.contains("toggle-password")) {
                var passwordInput = event.target.parentNode.querySelector("input[type='password']");
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    event.target.className = "bi bi-eye";
                } else {
                    passwordInput.type = "password";
                    event.target.className = "bi bi-eye-slash";
                }

                event.target.addEventListener("click", function () {
                    if (passwordInput.type === "password") {
                        passwordInput.type = "text";
                        event.target.className = "bi bi-eye";
                    } else {
                        passwordInput.type = "password";
                        event.target.className = "bi bi-eye-slash";
                    }
                });
            }
        });
    });
</script>