@model IEnumerable<ProyectoSC_601.Entities.CarritoEnt>
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Assets/css/ProductosAdminStyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.min.js"></script>
}

<style>
    input[type="number"]:focus {
        outline: none; /* Eliminar el borde de enfoque */
        border-color: transparent; /* Hacer que el borde sea transparente */
        box-shadow: none; /* Eliminar cualquier sombra */
        background-color: transparent;
    }

    input[type="number"]:hover {
        outline: none; /* Eliminar el borde de enfoque */
        border-color: transparent; /* Hacer que el borde sea transparente */
        box-shadow: none; /* Eliminar cualquier sombra */
        background-color: transparent;
    }
</style>
<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    <div style="display:flex;">
                        <h4 class="card-title">Información del Carrito</h4>
                    </div>
                    <div class="table-responsive">
                        <br><br>
                        @if (Model.Count() > 0)
                        {
                            <table id="TablaInventario" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Producto</th>
                                        <th style="background-color: #6282a9; color:white;">Nombre</th>
                                        <th style="background-color: #6282a9;color:white;">Precio Unitario</th>
                                        <th style="background-color: #6282a9;color:white; ">Cantidad</th>
                                        <th style="background-color: #6282a9;color:white;">SubTotal</th>
                                        <th style="background-color: #6282a9;color:white;">Total</th>
                                        <th style="background-color: #6282a9;color:white;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@item.Imagen" alt="Imagen del Producto" style="max-width: 100px; max-height: 100px;" />
                                            </td>
                                            <td>@item.Nombre</td>
                                            <td>@item.Precio.ToString("N2")</td>
                                            <td style="text-align:center">
                                                <input type="number" min="1" value="@item.Cantidad" id="cantidad-@item.ID_Carrito" style="border: 1px solid #6282a9; padding:2%;background-color: transparent; width: 60px;" />
                                            </td>
                                            <td>@item.SubTotal.ToString("N2")</td>
                                            <td>@item.Total.ToString("N2")</td>
                                            <td style="text-align:center">
                                                <a href="javascript:void(0);" onclick="actualizarCantidad('@item.ID_Carrito', '@item.ID_Producto','@item.Cantidad')" title="Actualizar Cantidad"><i class="fa fa-pen" style="color:forestgreen;"></i></a>
                                                <a href="@Url.Action("EliminarRegistroCarrito", "Carrito", new { q = item.ID_Carrito })" title="Quitar del Carrito"><i class="fa fa-times fa-lg" style="color:#6282a9;margin-left:10%;"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>




                        }
                        else
                        {
                            <table id="TablaInventario" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Imagen</th>
                                        <th style="background-color: #6282a9; color:white;">Nombre</th>
                                        <th style="background-color: #6282a9;color:white; ">Cantidad</th>
                                        <th style="background-color: #6282a9;color:white; " class="visually-hidden">Precio Unitario</th>
                                        <th style="background-color: #6282a9;color:white;" class="visually-hidden">SubTotal</th>
                                        <th style="background-color: #6282a9;color:white;" class="visually-hidden">Impuesto</th>
                                        <th style="background-color: #6282a9;color:white;">Total</th>
                                        <th style="background-color: #6282a9;color:white;">Opciones</th>
                                    </tr>
                                </thead>


                                <tbody>
                                </tbody>
                            </table>
                        }



                        <br />
                    </div>
                </div>
                <div style="margin: 2% 0 2% 0; text-align: center;">
                    <div class="col-12">
                        <p style="font-weight: bold; line-height: 25px;">Total sin IVA: </p>
                        <p style="font-size: 15px; color: #333;"> ₡@decimal.Parse(Session["SumaSubTotal"].ToString()).ToString("N2")</p>


                        <p style="font-weight: bold; line-height: 25px;">Total a Pagar (IVA. Incl.): </p>
                        <p style="font-size: 15px; color: #333;"> ₡@decimal.Parse(Session["TotalPago"].ToString()).ToString("N2")</p>
                    </div>

                    <div class="col-12" style="text-align: center;margin-top:2%; ">

                        <button class="btn btn-success" style="background-color: #1D3380; border:none;" onclick="pagar()"><i class="fab fa-paypal fa-lg"></i> Realizar Pago</button>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*Se agrega un data table para la consulta de clientes*@
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>var $j = jQuery.noConflict();</script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    $j(document).ready(function () {
        $j('#TablaInventario').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple'
        });
    });
</script>


<script>

    function pagar() {

        var body = {
            precio: $("#TotalPago").val(),
            producto: "Anteojos Varios"
        }

        jQuery.ajax({
                url: '@Url.Action("Paypal", "Carrito")',
                type: "POST",
                data: JSON.stringify(body),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                     console.log(data);
                    //$("div.col-sm-12").LoadingOverlay("hide");

                     if (data.status) {

                         var jsonresult = JSON.parse(data.respuesta);

                         console.log(jsonresult);

                         var links = jsonresult.links;

                         var resultado = links.find(item => item.rel === "approve")

                         window.location.href = resultado.href

                         //*//*console.log(links)*//*
                         //*//*console.log(resultado)*//*
                     } else {
                        alert("Vuelva a intentarlo más tarde")
                     }


                },
                beforeSend: function () {
                    //$("div.col-sm-12").LoadingOverlay("show");
                }
            });


    }

</script>
<script>
    // Función para actualizar el contador de productos en el carrito
    function actualizarContadorCarrito() {
        $.ajax({
            url: '/Producto/Catalogo',
            type: 'GET',
            success: function (data) {
                // Actualizar el valor del contador en el HTML
                $('#contador-carrito').text(data);
            },
            error: function () {
                console.log('Error al actualizar el contador del carrito.');
            }
        });
    }

    // Llamar a la función de actualización cuando se cargue la página
    $(document).ready(function () {
        actualizarContadorCarrito();
    });

</script>

<script>
function actualizarCantidad(idCarrito, idProducto, disponible) {
    // Obtener el valor actualizado de la cantidad
    let nuevaCantidad = $("#cantidad-" + idCarrito).val();
    let cantidadOriginal = disponible; // Almacenar la cantidad original

    // Realizar la solicitud AJAX para obtener la cantidad disponible del producto
    $.ajax({
        url: '@Url.Action("ObtenerCantidadDisponible", "carrito")',
        type: 'GET',
        data: { idProducto: idProducto },
        success: function (cantidadDisponible) {
            if (parseInt(nuevaCantidad) <= 0) {
                // Mostrar un mensaje de error si la cantidad solicitada es mayor que la disponible
                Swal.fire({
                    title: 'Error en la Solicitud',
                    text: 'La cantidad no puede ser menor o igual a 0',
                    icon: 'info',
                    confirmButtonColor: '#6282a9',
                    confirmButtonText: 'Ok'
                });
                $("#cantidad-" + idCarrito).val(cantidadOriginal);
            } else if (parseInt(nuevaCantidad) > parseInt(cantidadDisponible)) {
                // Mostrar un mensaje de error si la cantidad solicitada es mayor que la disponible
                Swal.fire({
                    title: 'Error en la Solicitud',
                    text: 'No hay suficiente cantidad disponible del producto',
                    icon: 'info',
                    confirmButtonColor: '#6282a9',
                    confirmButtonText: 'Ok'
                });
                $("#cantidad-" + idCarrito).val(cantidadOriginal);
            } else {
                // Realizar la solicitud AJAX al controlador para actualizar la cantidad
                $.ajax({
                    url: '@Url.Action("ActualizarCarrito", "carrito")',
                    type: "POST",
                    data: {
                        idCarrito: idCarrito,
                        idProducto: idProducto,
                        nuevaCantidad: nuevaCantidad // Cambiar 'cantidad' a 'nuevaCantidad' para que coincida con el parámetro del controlador
                    },
                    success: function (data) {
                        window.location.reload();
                        return;
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Mostrar el mensaje de error en la consola del navegador
                        console.error("Error al actualizar la cantidad del producto:", textStatus, errorThrown);
                        // Mostrar un mensaje de error al usuario
                        alert("Ocurrió un error al actualizar la cantidad del producto. Por favor, inténtalo de nuevo más tarde.");
                    }
                });
            }
        },
        error: function () {
            console.log('Error al obtener la cantidad disponible del producto.');
        }
    });
}
</script>

