@model IEnumerable<ProyectoSC_601.Entities.CarritoEnt>
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Assets/css/ProductosAdminStyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
}
<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    <div style="display:flex;">
                        <h4 class="card-title">Información del Carrito</h4>
                    </div>
                    <div class="table-responsive">
                        <br><br>
                        @*@if (ViewBag.Mensaje != null)
              {
                  <div class="alert alert-danger" role="alert" style="text-align: center; margin: 10px !important;margin-bottom:-40px!important;">
                      @ViewBag.Mensaje
                  </div>  @if (Model.Count() > 0)
        {
              }*@
                        @if (Model.Count() > 0)
                        {
                            <table id="TablaInventario" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Nombre</th>
                                        <th style="background-color: #6282a9;color:white; ">Cantidad</th>
                                        <th style="background-color: #6282a9;color:white; ">Precio Unitario</th>
                                        <th style="background-color: #6282a9;color:white;">SubTotal</th>
                                        <th style="background-color: #6282a9;color:white;">Impuesto</th>
                                        <th style="background-color: #6282a9;color:white;">Total</th>
                                        <th style="background-color: #6282a9;color:white;">Opciones</th>
                                    </tr>
                                </thead>


                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.Cantidad</td>
                                            <td>@item.Precio.ToString("N2")</td>
                                            <td>@item.SubTotal.ToString("N2")</td>
                                            <td>@item.Impuesto.ToString("N2")</td>
                                            <td>@item.Total.ToString("N2")</td>
                                            <td style="text-align:center">
                                                <a href="@Url.Action("EliminarRegistroCarrito", "Carrito", new { q = item.ID_Carrito })"><i class="fa fa-remove fa-lg" style="color:#6282a9;"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                            <div style="margin-top: 2%;">
                                <div class="col-12">
                                    <p style="font-weight:bold; text-align:center; line-height: 40px;"> Total a Pagar: ₡@decimal.Parse(Session["TotalPago"].ToString()).ToString("N2") </p>
                                </div>
                                <div class="col-12" style="text-align: center; ">
                                    @using (Html.BeginForm("PagarCarrito", "Carrito", FormMethod.Post))
                                    {
                                        <input type="submit" class="btn btn-primary" style="background-color:#6282a9;border:none;" value="Pagar">
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <table id="TablaInventario" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Nombre</th>
                                        <th style="background-color: #6282a9;color:white; ">Cantidad</th>
                                        <th style="background-color: #6282a9;color:white; ">Precio Unitario</th>
                                        <th style="background-color: #6282a9;color:white;">SubTotal</th>
                                        <th style="background-color: #6282a9;color:white;">Impuesto</th>
                                        <th style="background-color: #6282a9;color:white;">Total</th>
                                        <th style="background-color: #6282a9;color:white;">Opciones</th>
                                    </tr>
                                </thead>


                                <tbody>
                                </tbody>
                            </table>
                        }

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Se agrega un data table para la consulta de clientes*@
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>var $j = jQuery.noConflict();</script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    $j(document).ready(function () {
        $j('#TablaInventario').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple'
        });

    });
</script>

