@model IEnumerable<ProyectoSC_601.Entities.FacturaEnt>
@{
    ViewBag.Title = "Facturacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Assets/css/perfilClienteStyle.css" rel="stylesheet">
    <link href="~/Assets/css/gestionClientesStyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
}
<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    <div style="display:flex;">
                        <h4 class="card-title">Historial de Compras</h4>
                        <div style="margin-left:78%">
                            <div style="display:flex;">
                                <a class="btn btn-primary" style="background-color: #6282a9;border:none; " href="@Url.Action("PerfilCliente","Cliente")" style="margin-left:5%;"><i style="color: white;" class="fa fa-arrow-left fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" style=" margin-top: 40px !important;">

                        @if (Model.Count() > 0)
                        {

                            <table id="TablaClientes" class="table table-bordered table-hover">
                                <thead class="table table-bordered table-hover">
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Número de Factura</th>
                                        <th style="background-color: #6282a9; color:white;">Fecha de Compra</th>
                                        <th style="background-color: #6282a9; color:white;">Total de la compra</th>
                                        <th style="background-color: #6282a9; color:white;">Ver detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td># @item.ID_Factura</td>
                                            <td>@item.FechaCompra</td>
                                            <td>₡ @item.TotalCompra.ToString("N2")</td>

                                            <td style="text-align:center">
                                                <a href="@Url.Action("FacturaDetalleCliente", "Facturacion", new { q = item.ID_Factura })"><i class="fa fa-search fa-lg" style="color:#6282a9;"></i></a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table id="TablaClientes" class="table table-bordered table-hover">
                                <thead class="table table-bordered table-hover">
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Número de Factura</th>
                                        <th style="background-color: #6282a9; color:white;">Fecha de Compra</th>
                                        <th style="background-color: #6282a9; color:white;">Total de la compra</th>
                                        <th style="background-color: #6282a9; color:white;">Ver detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        }

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Se agrega un data table para la consulta de clientes*@
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>var $j = jQuery.noConflict();</script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    $j(document).ready(function () {

        var tabla = $j('#TablaClientes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple'
        });

        // Se quita el ordenamiento por defecto del dataTable para que se vea reflejado el orden de la lista
        tabla.order([]).draw();
    });

</script>