@model IEnumerable<ProyectoSC_601.Entities.CategoriaEnt>
@{
    ViewBag.Title = "ConsultaCategoria";
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
    <link href="~/Assets/css/ProductosAdminStyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
    <link href="~/Assets/css/ConsultaCategoria.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">

}
<style>
    #TablaCategorias_filter input[type="search"] {
        width: 180px;
        height: 30px;
        margin-bottom: 7px;
    }

        #TablaCategorias_filter input[type="search"]:focus {
            box-shadow: none; /* Quitar la sombra al enfocar */
            border-color: #6282a9;
        }
</style>
<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    @if (ViewBag.Mensaje != null)
                    {
                        <div class="alert alert-danger" role="alert" style="text-align: center; margin: 10px !important;margin-bottom:10px!important;">
                            @ViewBag.Mensaje
                        </div>
                    }  <br>
                       <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                           <h4 class="card-title mb-2 mb-md-0">Categorias Registradas</h4>
                           <div class="d-flex">
                               <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarCategoria" title="Agregar Categoría">
                                   <i class="fa fa-plus fa-lg text-white"></i>
                               </a>
                           </div>
                       </div>
                    <div class="table-responsive">
                        <br>

                        <table id="TablaCategorias" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="background-color: #6282a9; color:white;">#</th>
                                    <th style="background-color: #6282a9;color:white; ">Categoría</th>
                                    <th style="background-color: #6282a9;color:white;">Estado</th>
                                    <th style="background-color: #6282a9;color:white;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID_Categoria</td>
                                        <td>@item.Nombre_Categoria</td>
                                        @if (item.Estado_Categoria == 1)
                                        {
                                            <td style="text-align:center;"><span class="badge bg-success">Activo</span></td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;"><span class="badge bg-danger">Inactivo</span></td>
                                        }
                                    <td class="text-center">
                                        <a href="@Url.Action("ActualizarEstadoCategoria", "Categoria", new { q = item.ID_Categoria })" title="Cambiar Estado"><i style="color: #6282a9;" class="fa fa-exchange fa-lg"></i></a>
                                        <a href="javascript:void(0);" onclick="abrirModalModificar('@item.ID_Categoria', '@item.Nombre_Categoria')" title="Modificar Categoría"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-edit fa-lg"></i></a>
                                        <a href="javascript:void(0);" onclick="confirmarEliminarCategoria(@item.ID_Categoria)" title="Eliminar Categoría"><i style="color: darkred; padding-left: 8px;" class="fa fa-trash fa-lg"></i></a>
                                    </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Se agrega un data table para la consulta de clientes*@
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>var $j = jQuery.noConflict();</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<div class="modal fade" id="agregarCategoria" tabindex="-1" aria-labelledby="agregarCategoriaLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarCategoriaLabel">Agregar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el formulario para agregar la categoría -->
                <form id="agregarCategoriaForm" action="/Categoria/RegistrarCategoria" method="POST">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                        <div id="errorNombre" class="text-danger" style="font-size:12px;"></div>
                    </div>
                    <div style="text-align:center;">
                        <button type="submit" class="btn btn-info" style="background-color: #6282a9; border:none; color:white;">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificarCategoria" tabindex="-1" aria-labelledby="modificarCategoriaLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modificarCategoriaLabel">Modificar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para modificar la categoría -->
                <form id="modificarCategoriaForm">
                    <input type="hidden" id="idCategoriaModificar" name="idCategoriaModificar" />
                    <div class="mb-3">
                        <label for="nombreModificar" class="form-label">Nuevo Nombre:</label>
                        <input type="text" class="form-control" id="nombreModificar" name="nombreModificar">
                        <div id="errorNombreModificar" class="text-danger" style="font-size:12px;"></div>
                    </div>
                    <div style="text-align:center;">
                        <button type="button" class="btn btn-info" style="background-color: #6282a9; border:none; color:white;" onclick="guardarModificacion()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para abrir el modal de modificación y pasar el ID de la categoría
    function abrirModalModificar(idCategoria,nombreCategoria) {
        $j('#idCategoriaModificar').val(idCategoria); // Establecer el ID de la categoría en el campo oculto del formulario
        $j('#nombreModificar').val(nombreCategoria); // Establecer el nombre actual de la categoría en el campo de entrada
        $j('#errorNombreModificar').text(''); // Limpiar cualquier mensaje de error previo
        $j('#modificarCategoria').modal('show'); // Mostrar el modal de modificación
    }

    // Función para enviar la modificación al controlador
    function guardarModificacion() {
        var idCategoria = $('#idCategoriaModificar').val();
        var nuevoNombre = $('#nombreModificar').val();

        // Realizar las validaciones
        if (nuevoNombre.length == 0) {
            $('#errorNombreModificar').text('Este campo es obligatorio.');
        } else {
            // Si pasa todas las validaciones, enviar la solicitud al controlador
            $('#errorNombreModificar').text('');
            $.ajax({
                url: '/Categoria/ModificarCategoria',
                type: 'POST',
                data: {
                    ID_Categoria: idCategoria,
                    Nombre_Categoria: nuevoNombre
                },
                success: function (response) {
                    // Manejar la respuesta del controlador si es necesario
                    if (response.success) {
                        window.location.href = '/Categoria/ConsultarCategoria';
                    } else {
                        // Si hay algún error, mostrar el mensaje de error devuelto por el controlador
                        $('#errorNombreModificar').text(response.message);
                    }
                },
                error: function () {
                    // Manejar errores en la llamada AJAX si es necesario
                    $('#errorNombreModificar').text('Se produjo un error al procesar la solicitud.');
                }
            });
        }
    }
</script>

<script>
    $(document).ready(function () {
        // Asociar el evento submit al formulario una vez que el documento esté listo
        $('#agregarCategoriaForm').submit(function (event) {
            event.preventDefault();

            // Obtener el valor del nombre de la categoría
            var nombre = $('#nombre').val();
            document.getElementById("errorNombre").innerText = "";

            // Realizar las validaciones
            if (nombre.length == 0) {
                document.getElementById("errorNombre").innerText = "Este campo es obligatorio.";
            } else {
                // Si pasa todas las validaciones, agregar el campo oculto y enviar el formulario
                document.getElementById("errorNombre").innerText = "";
                $('<input />').attr('type', 'hidden')
                    .attr('name', 'nombre')
                    .attr('value', nombre)
                    .appendTo('#agregarCategoriaForm');

                // Enviar el formulario
                this.submit();

                // Cerrar el modal después de enviar el formulario
                $('#agregarCategoria').modal('hide');
            }
        });
    });
</script>

<script>
    //Datatable de los proveedores
    $j(document).ready(function () {
        var table = $j('#TablaCategorias').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple',
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                }
            ]
        });

        // Ajustar los botones de exportación
        table.buttons().container().prependTo('#TablaCategorias_wrapper .dataTables_filter');
    });
</script>


<script>
    function confirmarEliminarCategoria(ID_Categoria) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Si lo eliminas vas a perder la información relacionada a esta categoría',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#6282a9',
            cancelButtonColor: '#354461',
            confirmButtonText: 'Sí, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Llamar al controlador de verificación antes de eliminar
                $.ajax({
                    url: '/Categoria/VerificarEliminarCategoria?idCategoria=' + ID_Categoria,
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            // Si la verificación es exitosa, redirigir para eliminar
                            window.location.href = '/Categoria/EliminarCategoria?q=' + ID_Categoria;
                        } else {
                            // Si hay productos vinculados, mostrar el mensaje de error
                            Swal.fire('Error', response.message, 'error');
                        }
                    },
                    error: function () {
                        // Manejar errores en la llamada AJAX si es necesario
                        Swal.fire('Error', 'Se produjo un error al verificar la eliminación', 'error');
                    }
                });
            }
        });
    }

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var alertDiv = document.querySelector(".alert.alert-danger");

        if (alertDiv) {
            alertDiv.style.display = "block";
            setTimeout(function () {
                alertDiv.style.display = "none";
            }, 3000); // Ocultar el mensaje después de 2 segundos (2000 milisegundos)
        }
    });
</script>
