@using System.Web.Mvc
@model IEnumerable<ProyectoSC_601.Entities.ComprasEnt>


@{
    ViewBag.Title = "ConsultaCompras";
    ViewBag.Mensaje = TempData["Mensaje"];
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
    <link href="~/Assets/css/perfilClienteStyle.css" rel="stylesheet">
    <link href="~/Assets/css/ConsultaProveedor.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
}

@{
    var empresas = ViewBag.combo as List<SelectListItem>;
}
<style>
    #TablaCompras_filter input[type="search"] {
        width: 180px;
        height: 30px;
        margin-bottom: 7px;
    }

        #TablaCompras_filter input[type="search"]:focus {
            box-shadow: none; /* Quitar la sombra al enfocar */
            border-color: #6282a9;
        }
</style>

<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    @if (TempData["RegistroExito"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["RegistroExito"]
                        </div>
                    }

                    @if (TempData["ActualizacionExito"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["ActualizacionExito"]
                        </div>
                    }
                    <h4 class="card-title">
                        Información de Compras
                    </h4>
                    <br />
                    <div class="table-responsive">
                        @if (Model.Count() > 0)
                        {
                            <table id="TablaCompras" class="table table-bordered table-hover">
                                <thead class="table-info">
                                    <tr>
                                        <th style="background-color: #6282a9; color:white;">Empresa</th>
                                        <th style="background-color: #6282a9; color:white;">Fecha</th>
                                        <th style="background-color: #6282a9; color:white;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    var idEmpresa = item.Empresa;
                                                    var nombreEmpresa = ViewBag.Empresas as List<System.Web.Mvc.SelectListItem>;

                                                    if (nombreEmpresa != null && nombreEmpresa.Any())
                                                    {
                                                        var nombreEmpresaText = nombreEmpresa.FirstOrDefault(e => e.Value == idEmpresa.ToString())?.Text;
                                                        @nombreEmpresaText
                                                    }
                                                    else
                                                    {
                                                        <text>No hay empresas disponibles</text>
                                                    }
                                                }
                                            </td>

                                            <td>@item.Fecha</td>
                                            <td class="text-center">
                                                <span class="btn-consultar" onclick="mostrarModalConsulta('@item.Empresa', '@item.Fecha', '@item.Concepto', '@item.Cantidad', '@item.Total')" title="Consultar Compra">
                                                    <i class="fa fa-eye fa-lg" style="color: #6282a9; cursor: pointer; "></i>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                                No hay compras registradas en este momento
                            </div>
                        }
                        <br>
                        <div class="text-center mt-4">
                            <a href="@Url.Action("RegistrarCompra", "Compras")" class="btn btn-success">
                                <i class="fa fa-plus"></i> Agregar compra
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>var $j = jQuery.noConflict();</script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="consultaModal" tabindex="-1" aria-labelledby="consultaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Agregar la clase modal-lg aquí -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultaModalLabel">Detalles de la Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="consultaModalBody">
                <!-- Aquí se cargarán los detalles de la compra -->
            </div>
        </div>
    </div>
</div>

<script>
    //Datatable de las compras
    $j(document).ready(function () {
        var table = $j('#TablaCompras').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "pagingType": 'simple',
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
            ]
        });

        // Ajustar los botones de exportación
        table.buttons().container().prependTo('#TablaCompras_wrapper .dataTables_filter');
    });
</script>

<script>
    //Funcion para mostrar mensaje de alerta
    function confirmarEliminarCompra(IdCompras) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'La compra se eliminará permanentemente',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#6282a9',
            cancelButtonColor: '#354461',
            confirmButtonText: 'Sí, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, redirige a la acción de eliminar compras
                window.location.href = '/Compras/EliminarCompra?q=' + IdCompras;
            }
        });
    }
</script>

<script>
    // Función para mostrar modal de consulta de compras
    function mostrarModalConsulta(empresa, fecha, concepto, cantidad, total) {
        var myModal = new bootstrap.Modal(document.getElementById('consultaModal'), {
            keyboard: false
        });

        var idEmpresa = empresa;
        var nombreEmpresa = @Html.Raw(Json.Encode(ViewBag.Empresas as List<System.Web.Mvc.SelectListItem>));

        var nombreEmpresaText = '';
        if (nombreEmpresa != null && nombreEmpresa.length > 0) {
            var empresaItem = nombreEmpresa.find(e => e.Value === idEmpresa);
            nombreEmpresaText = empresaItem ? empresaItem.Text : 'No hay empresas disponibles';
        }

        $('#consultaModalBody').html(`
        <div class="row justify-content-center">
            <div class="col-lg-10 mb-5" style="margin:0%!important;">
                <div class="h-250 position-relative" style="height: auto!important; padding:5%!important;">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="p-6">
                                <table class="table table-bordered text-center">
                                   
                                    <tr>
                                        <td>Empresa:</td>
                                        <td>${nombreEmpresaText}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha:</td>
                                        <td>${fecha}</td>
                                    </tr>
                                    <tr>
                                        <td>Concepto:</td>
                                        <td>${concepto}</td>
                                    </tr>
                                    <tr>
                                        <td>Cantidad:</td>
                                        <td>${cantidad}</td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td>₡${parseFloat(total).toFixed(2)}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
         @if (Model != null && Model.Any())
        {
<a href="@Url.Action("ActualizarCompra", "Compras", new { q = Model.FirstOrDefault().IdCompras })" class="btn btn-success" title="Modificar Compra">
<i class="fa fa-user fa-lg text-white" style="margin-right: 5px;"></i> Modificar Compra
</a>
        }
        else
        {
<span>No hay compras disponibles para modificar</span>
        }
</div>
    `);

        // Muestra el modal
        myModal.show();
    }
</script>



