@model ProyectoSC_601.Entities.ClienteEnt
@{
    ViewBag.Title = "RegistroCliente";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    <link href="~/Assets/css/registroStyle.css" rel="stylesheet">
}

<div class="container" id="container">
    <div class="form-container sign-up-container">
        @if (ViewBag.MensajeExitoso != null)
        {
            <div class="alert alert-success" role="alert" style="text-align: center; margin: 10px 10px -30px 10px;">
                @ViewBag.MensajeExitoso
            </div>
        }

        @if (ViewBag.MensajeNoExitoso != null)
        {
            <div class="alert alert-danger" role="alert" style="text-align: center; margin: 10px 10px -30px 10px;">
                @ViewBag.MensajeNoExitoso
            </div>
        }

        @using (Html.BeginForm("RegistroCliente", "Cliente", FormMethod.Post, new { @class = "pt-3", @novalidate = "novalidate" }))
        {
            <h1 style="font-size:30px!important;">Crear Cuenta</h1>

            <div style="align-self: flex-start;">
                <label class="medium" for="correo">Identificación</label>
            </div>
            @Html.TextBoxFor(m => m.Ced_Cliente, new { @placeholder = "XXXXXXXXX", @type = "text", required = "required", onkeyup = "ConsultarNombreCliente();" })
            <div style="align-self: flex-start; margin-top:-8px!important;">
                @Html.ValidationMessageFor(m => m.Ced_Cliente, "", new { @style = "color: red;" })
            </div>
            <div style="align-self: flex-start; margin-top: 3%;">
                <label class="medium" for="correo">Nombre</label>
            </div>
            @Html.TextBoxFor(m => m.Nombre_Cliente, new { @readOnly = "readOnly", @style = "background-color: #CBCBCB",  @type = "text" })
            <div style="align-self: flex-start; margin-top: -8px !important;">
                @Html.ValidationMessageFor(m => m.Nombre_Cliente, "", new { @style = "color: red;" })
            </div>
            <div style="align-self: flex-start; margin-top: 3%;">
                <label class="medium" for="correo">Primer Apellido</label>
            </div>
            @Html.TextBoxFor(m => m.Apellido_Cliente, new { @readOnly = "readOnly", @style = "background-color: #CBCBCB",  @type = "text"})
            <div style="align-self: flex-start; margin-top: -8px !important;">
                @Html.ValidationMessageFor(m => m.Apellido_Cliente, "", new { @style = "color: red;" })
            </div>
            <div style="align-self: flex-start; margin-top: 3%;">
                <label class="medium" for="correo">Correo Electrónico</label>
            </div>
            @Html.TextBoxFor(m => m.Correo_Cliente, new { @placeholder = "usuario@ejemplo.com", @type = "email"})
            <div style="align-self: flex-start; margin-top: -8px !important; ">
                @Html.ValidationMessageFor(m => m.Correo_Cliente, "", new { @style = "color: red;" })
            </div>
            <div style="align-self: flex-start; margin-top: 3%;">
                <label class="medium" for="correo">Contraseña</label>
            </div>
            @Html.TextBoxFor(m => m.Contrasenna_Cliente, new { @placeholder = "● ● ● ● ● ● ● ● ● ● ●", @type = "password"})
            <div style="align-self: flex-start; margin-top: -8px !important;">
                @Html.ValidationMessageFor(m => m.Contrasenna_Cliente, "", new { @style = "color: red;" })
            </div>
            <br /><br />
            <button type="submit">Registrarse</button>
            <br />
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel">
                <h1>¡Bienvenido!</h1>
                <p>Para mantenerte conectado con nosotros por favor inicia sesión</p>
                <button class="ghost" id="signIn" onclick="location.href='@Url.Action("Login", "Cliente")'">Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/Assets/js/Cliente.js"></script>